.programation {
  display: flex;
  flex-direction: column;
  --gap: 8px;
  --fontSize: 16px;
  gap: var(--gap);

  width: 100%;
  padding: 20px;

  &.paddingTop {
    padding-top: 40px;
  }

  &.marginBottom {
    margin-top: 20px;
  }

  &.isNoMeeting {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    min-height: 639px;
    max-height: 639px;
    margin-bottom: 20px;
  }

  &.isRoomB {
    --gap: 4px;
  }

  &.isRoomC {
    --gap: 2px;
  }

  &:first-child {
    padding-top: 0;
  }
}

.title {
  margin: 20px 0;
  font-size: 32px;
  text-align: center;
}

.divisor {
  height: 8px;
  border: 0;
  border-top: 4px solid #666666;
  border-bottom: 2px solid #666666;

  margin-bottom: 40px;
}

.treasuresSection {
  --mainColor: #626262;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--mainColor);
  font-size: 28px;
  font-weight: 700;

  &::before {
    content: "\e65c";
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    width: 56px;

    font: 400 40px 'jw-icons-external';
    color: #fff;
    line-height: 40px;
    background: var(--mainColor);
  }

  &.isRoomB {
    color: white;
    background: var(--mainColor);
    height: 24px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 4px;
    font-weight: 600;

    &::before {display: none};
  };
}

.ministrySection {
  @extend .treasuresSection;
  --mainColor: #c38439;

  &::before {
    content: "\e6bb";
  }
}

.cristianSection {
  @extend .treasuresSection;
  --mainColor: #942926;

  &::before {
    content: "\e6ec";
  }
}

.ministryPartsWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}