.wrapper {
  width: 100%;
  padding: 12.5px 20px;
} 

.programation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 20px 0;
  font-size: 32px;
  text-align: center;
}

.divisor {
  height: 8px;
  border: 0;
  border-top: 4px solid #666666;
  border-bottom: 2px solid #666666;

  margin-bottom: 40px;
}

.treasuresSection {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #626262;
  font-size: 28px;

  &::before {
    content: "\e65c";
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    width: 56px;

    font: 400 40px 'jw-icons-external';
    color: #fff;
    line-height: 40px;
    background: #626262;
  }
}

.ministrySection {
  @extend .treasuresSection;
  color: #c38439;

  &::before {
    content: "\e6bb";
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    width: 56px;

    font: 400 40px 'jw-icons-external';
    color: #fff;
    line-height: 40px;
    background: #c38439;
  }
}

.cristianSection {
  @extend .treasuresSection;
  color: #942926;

  &::before {
    content: "\e6ec";
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    width: 56px;

    font: 400 40px 'jw-icons-external';
    color: #fff;
    line-height: 40px;
    background: #942926;
  }
}