.loading-gear-icon {
  background: url('../../public/static/icons/loading-gear.svg') no-repeat center;
  background-size: contain;
  display: block;

  width: 40px;
  height: 40px;
}

.close-icon {
  background: url('../../public/static/icons/close.svg') no-repeat center;
  background-size: contain;
  display: block;

  width: 20px;
  height: 20px;
}