.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  width: 100%;
  padding-left: 16px;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;

  font-size: 16px;

  &.isPresident {
    max-width: unset;
  }

  &.isEmpty {
    .ball {
      margin-top: 10px;
    }

    .inputLabel {
      border: 1px solid grey;
      padding: 4px 8px;
      min-width: 170px;
    }

    .inputTime:not(.isEmpty) {
      margin-top: 5px;
    }
  }

  &.mb {
    .inputLabel {
      margin-top: 5px;
    }

    .ball {
      margin-top: 10px;
    }
  }
}

.inputLabel {
  font-size: 16px;
  border: none;
  padding: 0px;
  outline: none;
  transition: 300ms ease;
  border-radius: 4px;
  max-width: 560px;
}

.inputTime {
  border: none;
  padding: 0px;
  outline: none;
  transition: 300ms ease;
  border-radius: 4px;
  font-size: 14px;
  transform: translateX(-1px);

  &.isEmpty {
    border: 1px solid grey;
    padding: 4px 8px;
    min-width: 60px;
    min-height: 28px;
  }
}

.ball {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  margin-top: 5px;
}

.participant {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;

  font-size: 16px;

  &.isFilled {
    .participantType {
      margin-top: 0;
    }

    .input {
      border: none;
      padding: 0px;
    }
  }
}

.participantType {
  color: #605f63;
  margin-top: 5px;
  outline: 0;
  transition: 300ms ease;
  border-radius: 4px;

  &.black {
    color: black;
  }

  &.isEmpty {
    padding: 4px 8px;
    border: 1px solid grey;
    margin-top: 0;
    min-width: 100px;
  }

  &.isEmpty + .input.isFilled {
    margin-top: 5px;
  }
}

.input {
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 4px 8px;
  min-width: 120px;
  max-width: 170px;
  font-size: 16px;
  transition: 300ms ease;
}