.part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  width: 100%;
  padding-left: 16px;

  &.isMultipleRoom {
    flex-direction: column;
    align-items: flex-start;
    width: 265px;

    margin-right: 4px;
  }
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;

  font-size: 16px;

  &.isEmpty {
    .ball {
      transform: translateY(12px);
    }

    .inputLabel {
      border: 1px solid grey;
      padding: 4px 8px;
      min-width: 170px;
    }
  }

  &.mb {
    .inputLabel {
      margin-top: 6px;
    }

    .ball {
      transform: translateY(10px);
    }
  }
}

.titleAndTime {
  max-width: 530px;
}

.inputLabel {
  display: inline;
  font-size: var(--fontSize);
  border: none;
  padding: 0px;
  outline: none;
  transition: 300ms ease;
  border-radius: 4px;
}

.inputTime {
  display: inline-block;
  border: none;
  padding: 0px;
  outline: none;
  transition: 300ms ease;
  border-radius: 4px;
  font-size: 15px;
  margin-left: 5px;
  width: fit-content;

  &.isEmpty {
    border: 1px solid grey;
    padding: 4px 8px;
    min-width: 60px;
    min-height: 28px;
  }
}

.ball {
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  transition: 300ms ease;
  transform: translateY(9px);
}

.participant {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;

  margin-bottom: auto;

  font-size: 16px;

  &.isFilled {
    .participantType {
      margin-top: 0;
    }

    .input {
      border: none;
      padding: 0px;
    }
  }
}

.participantType {
  color: #605f63;
  margin-top: 6px;
  outline: 0;
  transition: 300ms ease;
  border-radius: 4px;
  font-size: var(--fontSize);

  &.isBlack {
    color: black;
    font-weight: bold;
  }

  &.isEmpty {
    padding: 4px 8px;
    border: 1px solid grey;
    margin-top: 0;
    min-width: 100px;
  }

  &.isEmpty + .input.isFilled {
    margin-top: 6px;
  }
}

.input {
  border-radius: 4px;
  outline: none;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 4px 8px;
  min-width: 190px;
  max-width: 190px;
  font-size: var(--fontSize);
  transition: 300ms ease;
}

.roomsContainer {
  border: 1px solid var(--sectionColor);
  border-radius: 4px;
  margin-bottom: 5px;
  overflow: hidden;
  margin-right: 4px;
}

.room {
  display: flex;

  &:last-child .roomParticipant {
    border-bottom: none !important;
  }
}

.roomName {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: var(--fontSize);
  color: white;
  background: var(--sectionColor);
  font-weight: 400;
  padding: 4px;
  min-width: 75px;
}

.roomParticipant {
  @extend .input;
  padding: 4px !important;
  border-color: var(--sectionColor);
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid var(--sectionColor) !important;

  &.bordered {
    border: 1px solid var(--sectionColor) !important;
    border-radius: 4px;
  }
}