.sidebar {
  position: fixed;
  grid-area: sidebar;

  top: 71px;
  left: 0;
  width: min(300px, 25%);
  height: calc(100vh - 71px);
  overflow: auto;

  padding: 10px;
  border-right: 2px solid #d9d9d9;
  z-index: 1;
}