.appWrapper {
  display: grid;
  grid-template: 71px / min(300px, 25%) 1fr;
  grid-template-areas: 
    'header header'
    'sidebar content';
}

.mainContent {
  position: relative;
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 71px);
  scroll-behavior: smooth;

  &::before {
    content: '';
    position: sticky;

    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    box-shadow: 0 -13px 12px 12px #1a0d2f7d;
    transition: 250ms ease;
  }

  &.isDropShadow::before {
    opacity: 1;
  }
}

.programationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 40px 20px;
  max-width: 1000px;

  &.toPrint {
    min-width: 1000px;
  }
}